### IntelliJ ###
.idea/

!.idea/runConfigurations/
!.idea/codeStyles/

# 모듈 파일
*.iml
*.ipr
*.iws

# 빌드 출력물
/out/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

### Gradle ###
.gradle
build/
!src/**/build/

gradle-app.setting

!gradle-wrapper.jar
!gradle-wrapper.properties

### Redis dump ###
*.rdb

### Logs ###
*.log
*.log.*
*.gz

### firebase ###
secretJson.json

# Environments
.env

# JAR
fridgely.jar